/* 命名方式
* 个人资料 -- PersonalInformation
* 我的订单 -- MyOrderForm
* 我的优惠卷 -- MyCoupons
* 我的收藏 -- Collect
* 地址管理 -- AddressManagement
* 意见反馈 -- Feedback
*/

/*最小宽度与最大宽度*/
body{min-width: 320px;max-width: 640px;}

/*框架自带其他样式修改*/
.content .row{margin-left: 0px;}
/*------------个人资料 -- PersonalInformation-------------*/
.PersonalInformation{
	width: 100%;
	height: 4.6rem;
	margin: .45rem 0px;
	background: #FFF;
	border-top: .09rem solid #CCC;
	border-bottom: .09rem solid #CCC;
	box-sizing: border-box;
}
.PersonalInformation>.PersonalInformation-Icon{
	width: 3.714rem;
	height: 3.714rem;
	margin: .362rem .452rem;
	background: #F60;
	border: .05rem solid #CCC;
	box-sizing: border-box;
}
.PersonalInformation>.PersonalInformation-Icon>img{
	width: 100%;
}
.PersonalInformation>.PersonalInformation-NameId>.PersonalInformation-Name{
	margin-top: 1.358rem;
	font-size: .679rem;
	font-weight: 600;
}
.PersonalInformation>.PersonalInformation-NameId>.PersonalInformation-Id{
	margin-top: .407rem;
	font-size: .498rem;
	font-weight: 600;
	color: #CCC;
}
/*------------个人资料 PersonalInformation The End-------------*/

/*------------我的订单 MyOrderForm,我的优惠卷 MyCoupons,我的收藏 Collect,地址管理 AddressManagement-------------*/
.MyOrderForm,.MyCoupons,.Collect,.AddressManagement,.Feedback{
	line-height: 2.173rem;
	width: 100%;
	height: 2.173rem;
	font-size: .769rem;
	font-weight: 600;
	border-top: .05rem solid #CCC;
	border-bottom: .05rem solid #CCC;
	box-sizing: border-box;
	background: #FFF;
}
.MyOrderForm>.MyOrderForm-Icon,.MyCoupons>.MyCoupons-Icon,.Collect>.Collect-Icon,.AddressManagement>.AddressManagement-Icon,.Feedback>.Feedback-Icon{
	width: .815rem;
	height: .951rem;
	margin-top:  .588rem;
	margin-left: .588rem;
	background: #F22;
}
.MyOrderForm>.MyOrderForm-Name,.MyCoupons>.MyCoupons-Name,.Collect>.Collect-Name,.AddressManagement>.AddressManagement-Name,.Feedback>.Feedback-Name{
	margin-left: .679rem;
}
/*------------我的订单 MyOrderForm,我的优惠卷 MyCoupons,我的收藏 Collect,地址管理 AddressManagement The End-------------*/

/*------------我的订单 MyOrderForm > MyOrderForm-Wrap-------------*/
.MyOrderForm-Wrap{
	display: none;
	width: 100%;
	height: 5.208rem;
	margin-bottom: .45rem;
	border-top: .05rem solid #CCC;
	border-bottom: .05rem solid #CCC;
	box-sizing: border-box;
	background: #FFF;
}
.MyOrderForm-Wrap>.MyOrderForm-Wrap-Con{
	line-height: 1.494rem;
	height: 1.494rem;
	margin-left: .45rem;
	font-size: .543rem;
	color: #CCC;
}
.MyOrderForm-Wrap>.row>.col-20{
	height: 3.170rem;
	width: 17%;
    margin-left: 2.5%;
	background: #F40;
}
/*------------我的订单 MyOrderForm > MyOrderForm-Wrap-------------*/


/*------------意见反馈 Feedback------------*/
.Feedback{
	margin-top: .452rem;
	background: #FFF;
}
/*------------意见反馈 Feedback The End-----------*/

/*媒体查询*/
@media only screen and (min-width:440px) {
	html {
		font-size:23.5px!important;
	}
}
@media only screen and (min-width:520px) {
	html {
		font-size:28px!important;
	}
}
@media only screen and (min-width:560px) {
	html {
		font-size:30.2px!important;
	}
}
@media only screen and (min-width:640px) {
	html {
		font-size:35px!important;
	}
}