/* 命名方式
* 收货人信息 -- RecipientInformation
* 商品信息 -- ProductInformation
* 配送商店 -- DistributionStore
* 付款方式 -- PaymentMethod
*/

/*最小宽度与最大宽度*/
body{min-width: 320px;max-width: 640px;}
/*--------------收货人信息 -- RecipientInformation------------------*/

/*交易成功样式*/
.RecipientInformationImg{
	width: 100%;
	height: 4.076rem;
}

/*交易成功图片样式*/
.RecipientInformationImg>img{
	width: 100%;
	height: 4.076rem;
}
/*收货人信息样式*/
.RecipientInformation{
	width: 100%;
	height: 3.396rem;
	background: #FFF;
	box-sizing: border-box;
}
/*收货人信息样式*/
.RecipientInformation-Left>.Information{
	height: 1.494rem;
	line-height: 1.494rem;
	margin-left: .452rem;
}
.RecipientInformation-Left>.Information>span{
	font-size: .769rem;
	font-weight: 500;
}
/*收货人样式*/
.ContactInformation{
	height: 1.494rem;
	line-height: 1.494rem;
}
.ContactInformation>.ContactInformation-Name,.ContactInformation>.ContactInformation-Phone,.RecipientInformation-Left>.ShippingAddress{
	font-size: .634rem;
	font-weight: 500;
}
.ContactInformation>.ContactInformation-Name,.ShippingAddress>div{
	margin-left: 1.811rem;
}
.ContactInformation>.ContactInformation-Phone{
	margin-left: 1.585rem;
}
/*收获地址样式*/
.RecipientInformation-Left>.ShippingAddress{
	height: 1.585rem;
	line-height: 1.585rem; 
	color: #AAA;
}
/*--------------收货人信息 -- RecipientInformation The End------------------*/

/*--------------商品信息 -- ProductInformation------------------*/
.ProductInformation{
	width: 100%;
	 background: #FFF;
}
/*商品信息样式*/
.ProductInformation>.ProductInformation-Information{
	width: 100%;
	height: 1.721rem;
	padding-left: .498rem;
	line-height: 1.721rem;
	font-size: .724rem;
	font-weight: 500;
	background: #F5F5F5;
}
/*配送门店样式*/
.DistributionStore{
	margin: 0px .452rem .452rem;
    padding-bottom: .452rem;
}
.DistributionStore>.DeliveryStores{
	width: 100%;
	height: 2.173rem;
	line-height: 2.173rem;
	border-bottom: .045rem solid #CCC;
	font-size: .679rem;
	font-weight: 500;
}
/*商品详细信息样式*/
.Product{
	width: 100%;
	border-bottom: .045rem solid #CCC;
}
.Product>.Product-Icon{
	width: 18.6%;
}
/*产品图位置样式*/
.Product>.Product-Icon>div{
	width: 2.6rem;
	height: 2.6rem;
	margin: .452rem 0px;
}
.Product-Information{
	width: 81.4%;
}
.Product-Information>.Product-Information-Up>.Information-Up-Name{
	font-size: .679rem;
	font-weight: 500;
	margin-top: .588rem;
}
.Product-Information>.Product-Information-Up>.Information-Up-Yen{
	margin-top: .588rem;
	font-size: .679rem;
	font-weight: 500;
	color: #F33;
}
.Product-Information>.Product-Information-Up>.Information-Up-Yen>span{
	font-size: .488rem;
}
.Product-Information-Down>.Information-Down-Color{
	margin-top: .679rem;
	font-size: .498rem;
	font-weight: 500;
	color: #CCC;
}
.Product-Information-Down>.Information-Down-Num{
	margin-top: .679rem;
	font-size: .679rem;
	font-weight: 500;
}
/*--------------商品信息 -- ProductInformation The End------------------*/

/*--------------付款金额------------------*/
.Price{
	width: 100%;
	background: #FFF;
	margin-bottom: .452rem;
}
.PriceCalculation{
	width: 100%;
	background: #FFF;
	padding: .452rem;
	border-bottom: .045rem solid #CCC;
}
.PriceCalculation>.TotalMerchandise,.PriceCalculation>.Shipment,.PriceCalculation>.ShipmentRelief,.PriceCalculation>.PromotionsRelief{
	width: 100%;
	height: 1.041rem;
	font-size: .588rem;
	line-height: 1.041rem;
}
.Payment{
	width: 100%;
	height: 1.675rem;
	line-height: 1.675rem;
	font-size: .679rem;
	font-weight: 500;
}
.Payment>.Payment-Font{
	margin-left: .452rem;
}
.Payment>.Payment-Num{
	margin-right: .452rem;
	color: #F88;
}
.Payment>.Payment-Num>span{
	font-size: .479rem;
	font-weight: 500;
}
/*--------------付款金额 The End-----------------*/
.SubmitOrder>.SubmitOrder-Money>.Money{
	font-size: .679rem;
	font-weight: 500;
}
.SubmitOrder>.SubmitOrder-Money>span{
	color: #F44;
}
/*评价按钮样式*/
.SubmitOrder>.Evaluation-Btn{
    width: 3.759rem;
    height: 1.539rem;
    border: none;
    font-size: .679rem;
    background: #F60;
    color: #FFF;
    margin: .452rem;
}
/*申请退款/退货按钮样式*/
.SubmitOrder>.Refund-Btn{
	width: 5.570rem;
	height: 1.539rem;
	border: .045rem solid #CCC;
	box-sizing: border-box;
    font-size: .679rem;
    background: #FFF;
    color: #999;
    margin: .452rem 0px;
}

.actions-modal-group>.actions-modal-label{
	font-size: .9rem;
	color: #FFFFFF;
	background: #0d85fe;
}
.actions-modal-group>.actions-modal-button{
	font-size: .75rem;
	color: #333;
}

/*媒体查询*/
@media only screen and (min-width:440px) {
	html {
		font-size:23.5px!important;
	}
}
@media only screen and (min-width:520px) {
	html {
		font-size:28px!important;
	}
}
@media only screen and (min-width:560px) {
	html {
		font-size:30.2px!important;
	}
}
@media only screen and (min-width:640px) {
	html {
		font-size:35px!important;
	}
}