/*设置最小与最大宽度*/
body{min-width: 320px;max-width: 640px;}
/*设置标题栏的样式*/
.bar{
	background-color: #f76706;
}
.bar .icon{
	color: #fff;
}

/*这是进入页面显示的热门搜索*/
.TopSearch{
	height: 2.17rem;
	background-color: #fff;
	line-height: 2.17rem;
	padding-left: 0.5rem;
	font-family: "微软雅黑";
}
/*设置热门收索内容的文字居中*/
.TopSearch-btn{
	text-align: center;
}
/*设置热门搜索标签的样式*/
.TopSearch-btn>button{
	border: 2px solid #c4c4c4;
	border-radius: 5px;
	background-color: #fff;
	width: 3.94rem;
	height: 1.40rem;
	font-family: "微软雅黑";
	font-size: 0.68rem;
}
/*这是没搜寻到的内容*/
.TopSearch-nosearch{
	width: 100%;
	margin-top: 0.5rem;
	height: 3.03rem;
	background-color: #fff;
	border-top: 1px solid #e0dada;
	border-bottom: 1px solid #e0dada;
	display: none;
}
.TopSearch-photo{
	width: 2.21rem;
	height: 2.21rem;
	margin-top: 0.36rem;
	margin-left: 0.36rem;
	float: left;
	background-color: #f00;
}
.TopSearch-photo>img{
	width: 2.21rem;
	height: 2.21rem;
}
/*这是没搜寻到的内容*/
.TopSearch-content{
	width: 80%;
	height: 2.21rem;
	margin-top: 0.36rem;
	float: left;
	padding-left:0.5rem;
}
.TopSearch-text1{
	font-size: 0.72rem;

}
.TopSearch-text2{ 
	margin-top: 0.3rem;
	font-size: 0.58rem;
	color: #f00;

}
.TopSearch-search{
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: none;
}
.TopSearch-item{
	width: 100%;
	height: 3.03rem;
	background-color: #fff;
	border-top: 1px solid #e0dada;
	border-bottom: 1px solid #e0dada;
	list-style: none;
}
/*设置自适应的媒体查询*/
@media only screen and (min-width:440px) {
	html {
		font-size:23.5px!important;
	}
}
@media only screen and (min-width:520px) {
	html {
		font-size:28px!important;
	}
}
@media only screen and (min-width:560px) {
	html {
		font-size:30.2px!important;
	}
}
@media only screen and (min-width:640px) {
	html {
		font-size:35px!important;
	}
}