/*最小宽度与最大宽度*/
body{min-width:320px;max-width: 640px;}

/*标题栏样式*/
._bar .icon {
    position: relative;
    z-index: 20;
    padding: .5rem .1rem;
    font-size: .8rem;
    line-height: 1.0rem;
    color: #fff;
}

/*标题栏样式*/
._title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -.5rem;
    font-size: .85rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: #EFEFF4;
    text-align: center;
    white-space: nowrap;
}

/*标题栏样式*/
._bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    height: 2.22rem;
    padding-right: .5rem;
    padding-left: .5rem;
    background-color: #ff6600;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/*轮播图样式*/
.swiper-slide img{
	width: 100%;
}

/*轮播图点的样式*/
.content .swiper-container{
	padding-bottom: .45rem;
}
/*轮播图点的样式*/
.content .swiper-container-horizontal>.swiper-pagination{
	bottom: .5rem;
}
.shopName img{width: 100%;}

/*栅格栏样式*/
.row .col-50{
    width: 44.4%;
    height: 10.41rem;
    background: yellow;
    border: #eeeded .045rem solid;
}
._col{
	width: 100%;
	margin-bottom: .5rem;
}
._col .col-left,._col .col-right{
	width: 48.6%;
	height: 10.41rem;
	background: #FFF;
	border: #eeeded .045rem solid;
	box-sizing: border-box;
}
.Show-pictures{
	width: 100%;
	height: 7.97rem;
}


/*商品内容样式*/
.product-price{
	width: 100%;
	height: 2.44rem;
}
.product-price p,.product-price div{
	margin: .15rem;
}
.product-price div span:nth-child(1){
	font-size: .63rem;
	color: #ff3131;
	line-height: 1rem;
	font-weight: bold;
}
.product-price div span:nth-child(2){
	font-size: .45rem;
	line-height: 1rem;
}

/*店铺详情最外层样式*/
.shopName{
	height: 7rem;
	background: #ffffff;
}
.shopName .Shop-img{
	width: 2.49rem;
	height: 2.49rem;
	margin: .498rem;
} 

/*店铺名星级样式*/
.Shop{
	font-size: .72rem;
	margin-top: .498rem;
}
.Shop div{
	margin-top: .17rem;
	margin-bottom: .17rem;
}
/*店铺详情的样式*/
.Shop-details{
	height: 3.53rem;
	margin: 0 .5rem;
}
.Shop-details div{
	width: 100%;
	height: 1.9rem;
	white-space:pre-line;
	overflow:hidden;
	text-overflow:ellipsis; 
	font-size: .67rem;
}
.content>.content-padded {
	margin: .5rem 0 0;
    padding: .5rem;
    background: #fff;
}
@media only screen and (min-width:440px) {
	html {
		font-size:23.5px!important;
	}
}
@media only screen and (min-width:520px) {
	html {
		font-size:28px!important;
	}
}
@media only screen and (min-width:560px) {
	html {
		font-size:30.2px!important;
	}
}
@media only screen and (min-width:640px) {
	html {
		font-size:35px!important;
	}
}
